# Python Strings: Medical Insurance Project

You are a doctor who needs to clean up medical patient records, which are currently stored in one large string.

In this project, you will use your new knowledge of Python strings to obtain and clean up medical data so that it is easier to read and analyze.

    1- We want the insurance costs to be represented in US dollars.
    Replace all instances of # in medical_data with $. Store the result in a variable called updated_medical_data.

In [1]:
medical_data = \
"""Marina Allison   ,27   ,   31.1 , 
#7010.0   ;Markus Valdez   ,   30, 
22.4,   #4050.0 ;Connie Ballard ,43 
,   25.3 , #12060.0 ;Darnell Weber   
,   35   , 20.6   , #7500.0;
Sylvie Charles   ,22, 22.1 
,#3022.0   ;   Vinay Padilla,24,   
26.9 ,#4620.0 ;Meredith Santiago, 51   , 
29.3 ,#16330.0;   Andre Mccarty, 
19,22.7 , #2900.0 ; 
Lorena Hodson ,65, 33.1 , #19370.0; 
Isaac Vu ,34, 24.8,   #7045.0"""

In [22]:
for i in medical_data.split(";"):
    print(i)

Marina Allison   ,27   ,   31.1 ,
#7010.0
Markus Valdez   ,   30,
22.4,   #4050.0
Connie Ballard ,43
,   25.3 , #12060.0
Darnell Weber
,   35   , 20.6   , #7500.0

Sylvie Charles   ,22, 22.1
,#3022.0
   Vinay Padilla,24,
26.9 ,#4620.0
Meredith Santiago, 51   ,
29.3 ,#16330.0
   Andre Mccarty,
19,22.7 , #2900.0

Lorena Hodson ,65, 33.1 , #19370.0

Isaac Vu ,34, 24.8,   #7045.0

In [25]:
updated_medical_data = ""
for i in medical_data:
    updated_medical_data += i.replace("#", "$")
print(updated_medical_data)

Marina Allison   ,27   ,   31.1 ,
$7010.0   ;Markus Valdez   ,   30,
22.4,   $4050.0 ;Connie Ballard ,43
,   25.3 , $12060.0 ;Darnell Weber
,   35   , 20.6   , $7500.0;
Sylvie Charles   ,22, 22.1
,$3022.0   ;   Vinay Padilla,24,
26.9 ,$4620.0 ;Meredith Santiago, 51   ,
29.3 ,$16330.0;   Andre Mccarty,
19,22.7 , $2900.0 ;
Lorena Hodson ,65, 33.1 , $19370.0;
Isaac Vu ,34, 24.8,   $7045.0

    2- We want to calculate the number of medical records in our data.
    Create a variable called num_records and initialize it at 0.
    
    
    Next, write a for loop to iterate through the updated_medical_data string. Inside of the loop, add 1 to 
    num_records when the current character is equal to $.
    
    Outside of the loop, print num_records with the following message:

In [26]:
num_records = 0
for i in updated_medical_data:
    if i == "$":
        num_records += 1
print(f"There are {num_records} medical records in the data.")

There are 10 medical records in the data.

    3 - The medical data in its current form is difficult to analyze. An essential job for a data scientist is to clean up data so that it’s easy to work with.

    Let’s start off by splitting the updated_medical_data string into a list of each medical record. Remember that each medical record is separated by a ; in the string.

    Store the result in a variable called medical_data_split and print this variable.

In [27]:
medical_data_split  = updated_medical_data.split(";")
print(medical_data_split)

['Marina Allison   ,27   ,   31.1 , \n$7010.0   ', 'Markus Valdez   ,   30, \n22.4,   $4050.0 ', 'Connie Ballard ,43 \n,   25.3 , $12060.0 ', 'Darnell Weber   \n,   35   , 20.6   , $7500.0', '\nSylvie Charles   ,22, 22.1 \n,$3022.0   ', '   Vinay Padilla,24,   \n26.9 ,$4620.0 ', 'Meredith Santiago, 51   , \n29.3 ,$16330.0', '   Andre Mccarty, \n19,22.7 , $2900.0 ', ' \nLorena Hodson ,65, 33.1 , $19370.0', ' \nIsaac Vu ,34, 24.8,   $7045.0']

    4- Our data is now stored in a list, but it is still hard to read. Let’s split each medical record into its own list.
    First, define an empty list called medical_records.
    
    Next, iterate through medical_data_split and for each record, split the string after each comma (,) and append the split string to medical_records.

In [36]:
medical_records = []
for i in medical_data_split:
    medical_records.append(i.split(","))
    
medical_records

[['Marina Allison   ', '27   ', '   31.1 ', ' \n$7010.0   '],
 ['Markus Valdez   ', '   30', ' \n22.4', '   $4050.0 '],
 ['Connie Ballard ', '43 \n', '   25.3 ', ' $12060.0 '],
 ['Darnell Weber   \n', '   35   ', ' 20.6   ', ' $7500.0'],
 ['\nSylvie Charles   ', '22', ' 22.1 \n', '$3022.0   '],
 ['   Vinay Padilla', '24', '   \n26.9 ', '$4620.0 '],
 ['Meredith Santiago', ' 51   ', ' \n29.3 ', '$16330.0'],
 ['   Andre Mccarty', ' \n19', '22.7 ', ' $2900.0 '],
 [' \nLorena Hodson ', '65', ' 33.1 ', ' $19370.0'],
 [' \nIsaac Vu ', '34', ' 24.8', '   $7045.0']]

    5 - Our data is now slightly more readable. However, it is not properly formatted – it contains unnecessary whitespace.

    To fix this, let’s start by creating an empty list called medical_records_clean.
    
    Next, use a for loop to iterate through medical_records.

    Inside of the loop, create an empty list called record_clean. We’ll use this list to store a formatted version of each medical record.
    
    After the record_clean variable, create a nested for loop that goes through each record:
    
    Inside of this loop, append item.strip() to record_clean to remove any whitespace from the string.

In [45]:
medical_records_clean = []
for i in medical_records:
    record_clean = []
    for j in i:
        record_clean.append(j.strip())
    medical_records_clean.append(record_clean)
medical_records_clean

[['Marina Allison', '27', '31.1', '$7010.0'],
 ['Markus Valdez', '30', '22.4', '$4050.0'],
 ['Connie Ballard', '43', '25.3', '$12060.0'],
 ['Darnell Weber', '35', '20.6', '$7500.0'],
 ['Sylvie Charles', '22', '22.1', '$3022.0'],
 ['Vinay Padilla', '24', '26.9', '$4620.0'],
 ['Meredith Santiago', '51', '29.3', '$16330.0'],
 ['Andre Mccarty', '19', '22.7', '$2900.0'],
 ['Lorena Hodson', '65', '33.1', '$19370.0'],
 ['Isaac Vu', '34', '24.8', '$7045.0']]

In [46]:
for i  in medical_records_clean:
    print(i[0])

Marina Allison
Markus Valdez
Connie Ballard
Darnell Weber
Sylvie Charles
Vinay Padilla
Meredith Santiago
Andre Mccarty
Lorena Hodson
Isaac Vu

    6 - You want all of the names in the medical records to be in uppercase characters.

    In the for loop, update records[0] before the print statement so that all of the characters are uppercase.

In [47]:
for  i in medical_records_clean:
    i[0] = i[0].upper()
    print(i[0])

MARINA ALLISON
MARKUS VALDEZ
CONNIE BALLARD
DARNELL WEBER
SYLVIE CHARLES
VINAY PADILLA
MEREDITH SANTIAGO
ANDRE MCCARTY
LORENA HODSON
ISAAC VU

7 - Let’s store each name, age, BMI, and insurance cost in separate lists.

    To start, create four empty lists:

    names
    ages
    bmis
    insurance_costs
    
8 - Next, iterate through medical_records_clean and for each record:

    Append the name to names.
    Append the age to ages.
    Append the BMI to bmis.
    Append the insurance cost to insurance_costs.

In [52]:
names = []
ages = []
bmis = []
insurance_costs = []

for i in medical_records_clean:
    names.append(i[0])
    ages.append(i[1])
    bmis.append(i[2])
    insurance_costs.append(i[3])
    
names, ages

(['MARINA ALLISON',
  'MARKUS VALDEZ',
  'CONNIE BALLARD',
  'DARNELL WEBER',
  'SYLVIE CHARLES',
  'VINAY PADILLA',
  'MEREDITH SANTIAGO',
  'ANDRE MCCARTY',
  'LORENA HODSON',
  'ISAAC VU'],
 ['27', '30', '43', '35', '22', '24', '51', '19', '65', '34'])

9 - Now that all of our data is in separate lists, we can easily perform analysis on that data. Let’s calculate the average BMI in our dataset.

    First, create a variable called total_bmi and set it equal to 0.
    
    Next, use a for loop to iterate through bmis and add each bmi to total_bmi.

    Remember to convert bmi to a float.
    
    After the for loop, create a variable called average_bmi that stores the total_bmi divided by the length of the bmis list.

    Print out average_bmi with the following message:

In [56]:
total_bmi = 0 
for i in bmis:
    total_bmi += float(i)
average_bmi = total_bmi/ len(bmis)
print(f"Average BMI: {average_bmi}")

Average BMI: 25.830000000000002